*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#151515;
    overflow:hidden;
    transition:1.2s;
}

body.open{
    background:linear-gradient(180deg,#fff9fc,#ffe4ef);
}

.container{
    text-align:center;
    transition:1s;
}

.greeting{
    color:white;
    margin-bottom:10px;
    transition:1s;
}

body.open .greeting{
    color:#ff4f87;
}

.hint{
    color:#cfcfcf;
    margin-bottom:30px;
    transition:1s;
}

body.open .hint{
    opacity:0;
}

.envelope{
    position:relative;
    width:320px;
    height:220px;
    margin:auto;
    cursor:pointer;
    perspective:1000px;
}

/* Back */

.back{
    position:absolute;
    width:100%;
    height:100%;
    background:#ff9ec3;
    border-radius:8px;
}

/* Letter */

.letter{

    position:absolute;

    left:20px;

    top:25px;

    width:280px;

    height:180px;

    background:white;

    border-radius:8px;

    padding:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

    transform:translateY(70px);

    transition:1s;

    z-index:2;

    overflow:auto;

}

.letter h1{

    font-family:'Dancing Script',cursive;

    color:#ff4f87;

    text-align:center;

    margin-bottom:15px;

}

.letter p{

    font-size:15px;

    line-height:1.7;

    text-align:center;

}

/* Front */

.front{

    position:absolute;

    bottom:0;

    width:100%;

    height:110px;

    background:#ff7fb1;

    clip-path:polygon(0 0,50% 65%,100% 0,100% 100%,0 100%);

    z-index:4;

}

/* Flap */

.flap{

    position:absolute;

    top:0;

    width:100%;

    height:110px;

    background:#ff6ba5;

    transform-origin:top;

    transition:1s;

    clip-path:polygon(0 0,100% 0,50% 100%);

    z-index:5;

}

body.open .flap{

    transform:rotateX(180deg);

}

body.open .letter{

    transform:translateY(-90px);

}

#nextBtn{

    margin-top:40px;

    display:none;

    border:none;

    background:#ff4f87;

    color:white;

    padding:14px 32px;

    border-radius:40px;

    font-size:17px;

    cursor:pointer;

    box-shadow:0 8px 20px rgba(255,79,135,.35);

}

body.open #nextBtn{

    display:inline-block;

    animation:fade 1s;

}

.final{

    display:none;

    position:absolute;

    inset:0;

    background:linear-gradient(180deg,#fff8fb,#ffe8f2);

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

    padding:35px;

}

.final h1{

    color:#ff4f87;

    margin-bottom:20px;

}

.final h2{

    margin-top:25px;

    color:#ff4f87;

}

.final p{

    max-width:500px;

    line-height:1.8;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:480px){

.envelope{

width:280px;

height:190px;

}

.letter{

width:240px;

left:20px;

font-size:14px;

}

}
