*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*commemt*/
body{
    font-family:'Poppins',sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111827;
    overflow:hidden;
    transition:1s;
}

body.open{
    background:linear-gradient(to bottom,#fff9fc,#ffe7f2);
}

.container{
    text-align:center;
}

.container h2{
    color:white;
    font-size:2rem;
    margin-bottom:10px;
    transition:.8s;
}

body.open .container h2{
    color:#ff4d88;
}

.container>p{
    color:#cfcfcf;
    margin-bottom:25px;
}

body.open .container>p{
    opacity:0;
}

/* Envelope */

.envelope{
    width:320px;
    height:220px;
    position:relative;
    margin:auto;
    cursor:pointer;
    overflow:hidden;
}

/* Back */

.back{
    position:absolute;
    inset:0;
    background:#ffb3cf;
    border-radius:8px;
    z-index:1;
}

/* Letter */

.letter{
    position:absolute;
    left:20px;
    width:280px;
    height:200px;

    background:white;
    border-radius:10px;
    padding:18px;

    bottom:-150px;

    box-shadow:0 10px 25px rgba(0,0,0,.18);

    z-index:2;

    transition:1s ease;

    overflow-y:auto;
    overflow-x:hidden;
}

.letter h1{
    text-align:center;
    color:#ff4d88;
    font-family:'Caveat',cursive;
    margin-bottom:10px;
}

.letter p{
    text-align:center;
    color:#555;
    line-height:1.8;
    font-size:15px;
}

/* Front */

.front{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:120px;

    background:#ff6fa7;

    clip-path:polygon(0 0,50% 70%,100% 0,100% 100%,0 100%);

    z-index:4;
}

/* Flap */

.top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:120px;

    background:#ff4d88;

    clip-path:polygon(0 0,100% 0,50% 100%);

    transform-origin:top;

    transition:1s;

    z-index:5;
}

/* Open Animation */

body.open .top{
    transform:rotateX(180deg);
}

body.open .letter{
    transform:translateY(-180px);
}

/* Button */

#next{
    display:none;

    margin-top:35px;

    border:none;

    background:#ff4d88;

    color:white;

    padding:14px 32px;

    border-radius:30px;

    cursor:pointer;

    font-size:16px;
}

body.open #next{
    display:inline-block;
}

/* Final Screen */

.final{
    display:none;

    position:absolute;

    inset:0;

    background:linear-gradient(#fff9fc,#ffe7f2);

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

    padding:25px;
}

.final h2{
    color:#ff4d88;
    margin:20px 0;
}

.final h3{
    margin-top:20px;
    color:#ff4d88;
}

.final p{
    line-height:1.8;
    color:#555;
    max-width:320px;
}

/* Scrollbar */

.letter::-webkit-scrollbar{
    width:5px;
}

.letter::-webkit-scrollbar-thumb{
    background:#ff8bb8;
    border-radius:20px;
}

/* Mobile */

@media(max-width:480px){

.envelope{
width:290px;
height:200px;
}

.letter{
width:250px;
left:20px;
height:180px;
}

}
